body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

/* NAVIGATION */
.container {
  width: 800px;
  overflow: hidden;
  display: inline-block; }

.side-bar {
  background: lightblue;
  position: fixed;
  height: 100%;
  width: 200px;
  color: white;
  transition: margin-left 0.5s; }
  .side-bar ul {
    list-style: none;
    padding: 0; }
  .side-bar li.menu-head {
    padding: 20px;
    font-size: 24px; }
    .side-bar li.menu-head a {
      color: white;
      text-decoration: none;
      height: 50px; }
    .side-bar li.menu-head button.push-menu {
      border: transparent;
      background: transparent;
      padding: 0;
      font-size: 24px; }
  .side-bar .menu-push-down {
    position: absolute;
    width: 100%;
    bottom: 0; }
  .side-bar .menu li a {
    color: white;
    text-decoration: none;
    display: inline-table;
    width: 100%;
    padding: 10px 20px;
    font-size: 18px; }
    .side-bar .menu li a i {
      margin-top: 4px; }
    .side-bar .menu li a:hover {
      border-left: 3px solid grey;
      padding-left: 17px; }
    .side-bar .menu li a.clicked {
      padding-left: 17px;
      background: orange;
      border-left: 3px solid lightgrey; }
      .side-bar .menu li a.clicked::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 7px solid orange;
        margin-top: -10px;
        margin-left: 180px; }

.wrapper {
  width: 100%; }
  .wrapper.clicked > .side-bar {
    margin-left: -143px;
    transition: margin-left 0.5s; }
  .wrapper.clicked > .content {
    padding-left: 50px;
    transition: padding-left 0.5s; }
  .wrapper .content {
    padding-left: 200px;
    transition: padding-left 0.5s;
    text-align: center; }
    .wrapper .content .panel-heading {
      text-align: right;
      margin: 20px;
      font-size: 25px;
      border-bottom: 3px solid;
      padding-bottom: 10px; }
      .wrapper .content .panel-heading button {
        background: transparent;
        border: none;
        color: black; }
      .wrapper .content .panel-heading button,
      .wrapper .content .panel-heading i {
        font-size: 20px; }
    .wrapper .content .panel-body h1 {
      width: 100%;
      margin-top: 2em; }
    .wrapper .content .panel-body .orders-list {
      list-style: none;
      width: 100%; }
      .wrapper .content .panel-body .orders-list li {
        display: inline-block;
        padding: 5px 20px; }
    .wrapper .content .panel-body table.table {
      margin-top: 3em;
      vertical-align: middle; }
      .wrapper .content .panel-body table.table th, .wrapper .content .panel-body table.table td {
        vertical-align: middle; }
      .wrapper .content .panel-body table.table button.btn {
        margin-bottom: 5px;
        padding: 2px 21px; }

.nav-item button {
  padding: 0 1em; }

.nav-item a {
  color: black; }

nav {
  border-bottom: 1px solid;
  margin-bottom: 1em;
  box-shadow: 0px 1px 7px black;
  padding-top: 2em !important;
  padding-bottom: 2em !important; }

.navbar-nav {
  flex-direction: row !important; }

/* AUTH SCREENS */
.authContainer {
  width: 300px;
  height: 400px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.signIn {
  height: 280px; }

.authContainer h1 {
  text-align: center; }

.formContainer,
.formContainer button {
  margin-top: 2em; }

.signInLink {
  margin-top: 1em;
  text-align: center; }

.signInLink button {
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  color: black; }

.signInLink button:hover,
.signInLink button:active {
  text-decoration: underline;
  background: transparent !important;
  color: black !important; }

.formContainer .row {
  margin-bottom: 1em; }

.modal-header {
  border: none; }

.modal-body {
  text-align: center;
  padding-top: 1em; }

.modal-body input {
  margin-top: 1em; }

.modal-footer {
  border: none; }
