h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	font-family: "Raleway", sans-serif;
}

a {
	color: #8bd2ea;
}

body {
	margin: 0;
	font-family: "Open Sans", "Roboto", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(238, 238, 238, 0.43);
}

.text-primary {
	color: #00acc1 !important;
}

*[class*="btn-primary"] {
	border-color: #00acc1;
	color: #00acc1;
}
*[class*="btn-primary"]:hover {
	border-color: #00acc1;
	background-color: #00acc1;
}
*[class*="btn-outline-primary"] {
	color: #00acc1;
	border-color: #00acc1;
}
*[class*="btn-outline-primary"]:hover {
	border-color: #00acc1;
	background-color: #00acc1;
}
*[class*="disabled"] {
	cursor: not-allowed;
	border-color: #ccc;
	color: #ccc !important;
}
*[class*="disabled"]:hover {
	border-color: #ccc;
	color: #ccc;
	background-color: transparent;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.card {
	display: inline-block;
	position: relative;
	width: 100%;
	margin: 25px 0;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
	border-radius: 3px;
	color: rgba(0, 0, 0, 0.87);
	background: #fff;
}

.card .card-height-indicator {
	margin-top: 100%;
}

.card .title {
	margin-top: 0;
	margin-bottom: 5px;
}

.card .card-image {
	height: 60%;
	position: relative;
	overflow: hidden;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: -30px;
	border-radius: 6px;
}

.card .card-image img {
	width: 100%;
	height: 100%;
	border-radius: 6px;
	pointer-events: none;
}

.card .card-image .card-title {
	position: absolute;
	bottom: 15px;
	left: 15px;
	color: #fff;
	font-size: 1.3em;
	text-shadow: 0 2px 5px rgba(33, 33, 33, 0.5);
}

.card .category:not([class*="text-"]) {
	color: #999;
}

.card .card-content {
	padding: 15px 20px;
}

.card .card-content .category {
	margin-bottom: 0;
}

.card .card-header {
	box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42),
		0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
	margin: -20px 15px 0;
	border-radius: 3px;
	padding: 15px;
	background-color: #999;
}

.card .card-header .material-icons svg {
  width: 56px;
  height: 56px;
}

.card .card-header .title {
	color: #fff;
}

.card .card-header .category {
	margin-bottom: 0;
	color: rgba(255, 255, 255, 0.62);
}

.card .card-header.card-chart {
	padding: 0;
	min-height: 160px;
}

.card .card-header.card-chart + .content h4 {
	margin-top: 0;
}

.card .card-header .ct-label {
	color: rgba(255, 255, 255, 0.7);
}

.card .card-header .ct-grid {
	stroke: rgba(255, 255, 255, 0.2);
}

.card .card-header .ct-series-a .ct-point,
.card .card-header .ct-series-a .ct-line,
.card .card-header .ct-series-a .ct-bar,
.card .card-header .ct-series-a .ct-slice-donut {
	stroke: rgba(255, 255, 255, 0.8);
}

.card .card-header .ct-series-a .ct-slice-pie,
.card .card-header .ct-series-a .ct-area {
	fill: rgba(255, 255, 255, 0.4);
}

.card .chart-title {
	position: absolute;
	top: 25px;
	width: 100%;
	text-align: center;
}

.card .chart-title h3 {
	margin: 0;
	color: #fff;
}

.card .chart-title h6 {
	margin: 0;
	color: rgba(255, 255, 255, 0.4);
}

.card .card-footer {
	margin: 0 20px 10px;
	padding-top: 10px;
	border-top: 1px solid #eee;
}

.card .card-footer .content {
	display: block;
}

.card .card-footer div {
	display: inline-block;
}

.card .card-footer .author {
	color: #999;
}

.card .card-footer .stats {
	line-height: 22px;
	color: #999;
	font-size: 12px;
}

.card .card-footer .stats .material-icons {
	position: relative;
	top: 0;
	font-size: 16px;
  margin-right: 3px;
  margin-left: 3px;
}

.card .card-footer h6 {
	color: #999;
}

.card img {
	width: 100%;
	height: auto;
}

.card .category .material-icons {
	position: relative;
	top: 6px;
	line-height: 0;
}

.card .category-social .fa {
	font-size: 24px;
	position: relative;
	margin-top: -4px;
	top: 2px;
	margin-right: 5px;
}

.card .author .avatar {
	width: 30px;
	height: 30px;
	overflow: hidden;
	border-radius: 50%;
	margin-right: 5px;
}

.card .author a {
	color: #3b6784;
	text-decoration: none;
}

.card .author a .ripple-container {
	display: none;
}

.card .table {
	margin-bottom: 0;
}

.card .table tr:first-child td {
	border-top: none;
}

.card .card-body + .card-footer {
	padding-top: 0rem;
	border: 0;
	border-radius: 6px;
	background: transparent;
}

.card [data-background-color="purple"] {
	background: linear-gradient(60deg, #ab47bc, #8e24aa);
	box-shadow: 0 12px 20px -10px rgba(139, 210, 234, 0.28),
		0 4px 20px 0px rgba(0, 0, 0, 0.12),
		0 7px 8px -5px rgba(139, 210, 234, 0.2);
}

.card [data-background-color="blue"] {
	background: linear-gradient(60deg, #26c6da, #00acc1);
	box-shadow: 0 12px 20px -10px rgba(212, 194, 126, 0.28),
		0 4px 20px 0px rgba(0, 0, 0, 0.12),
		0 7px 8px -5px rgba(212, 194, 126, 0.2);
}

.card [data-background-color="green"] {
	background: linear-gradient(60deg, #66bb6a, #43a047);
	box-shadow: 0 12px 20px -10px rgba(95, 186, 126, 0.28),
		0 4px 20px 0px rgba(0, 0, 0, 0.12),
		0 7px 8px -5px rgba(95, 186, 126, 0.2);
}

.card [data-background-color="orange"] {
	background: linear-gradient(60deg, #ffa726, #fb8c00);
	box-shadow: 0 12px 20px -10px rgba(220, 169, 70, 0.28),
		0 4px 20px 0px rgba(0, 0, 0, 0.12),
		0 7px 8px -5px rgba(220, 169, 70, 0.2);
}

.card [data-background-color="red"] {
	background: linear-gradient(60deg, #ef5350, #e53935);
	box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28),
		0 4px 20px 0px rgba(0, 0, 0, 0.12),
		0 7px 8px -5px rgba(244, 67, 54, 0.2);
}

.card [data-background-color] {
	color: #fff;
}

.card [data-background-color] a {
	color: #fff;
}

.card-stats .title {
	margin: 0;
}

.card-stats .card-header {
	float: left;
	text-align: center;
}

.card-stats .card-header i {
	font-size: 36px;
	line-height: 56px;
	width: 56px;
	height: 56px;
}

.card-stats .card-content {
	text-align: right;
	padding-top: 10px;
}

.btn.btn-rose {
	color: #fff;
	background-color: #e91e63;
	border-color: #e91e63;
	-webkit-box-shadow: 0 2px 2px 0 rgba(233, 30, 99, 0.14),
		0 3px 1px -2px rgba(233, 30, 99, 0.2),
		0 1px 5px 0 rgba(233, 30, 99, 0.12);
	box-shadow: 0 2px 2px 0 rgba(233, 30, 99, 0.14),
		0 3px 1px -2px rgba(233, 30, 99, 0.2),
		0 1px 5px 0 rgba(233, 30, 99, 0.12);
}
