body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

/* NAVIGATION */
.nav-item button {
  padding: 0 1em; }

.nav-item a {
  color: black; }

nav {
  border-bottom: 1px solid;
  margin-bottom: 1em;
  box-shadow: 0px 1px 7px black;
  padding-top: 2em !important;
  padding-bottom: 2em !important; }

.navbar-nav {
  flex-direction: row !important; }

/* AUTH SCREENS */
.authContainer {
  width: 300px;
  height: 400px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.signIn {
  height: 280px; }

.authContainer h1 {
  text-align: center; }

.formContainer,
.formContainer button {
  margin-top: 2em; }

.signInLink {
  margin-top: 1em;
  text-align: center; }

.signInLink button {
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  color: black; }

.signInLink button:hover,
.signInLink button:active {
  text-decoration: underline;
  background: transparent !important;
  color: black !important; }

.formContainer .row {
  margin-bottom: 1em; }

.modal-header {
  border: none; }

.modal-body {
  text-align: center;
  padding-top: 1em; }

.modal-body input {
  margin-top: 1em; }

.modal-footer {
  border: none; }
