body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/* NAVIGATION */
.container {
  width: 800px;
  overflow: hidden;
  display: inline-block;
}
.side-bar {
  background: lightblue;
  position: fixed;
  height: 100%;
  width: 200px;
  color: white;
  transition: margin-left 0.5s;
  ul {
    list-style: none;
    padding: 0;
  }
  li.menu-head {
    padding: 20px;
    font-size: 24px;
    a {
      color: white;
      text-decoration: none;
      height: 50px;
    }
    button.push-menu {
      border: transparent;
      background: transparent;
      padding: 0;
      font-size: 24px;
    }
  }
  .menu-push-down {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
  .menu li a {
    color: white;
    text-decoration: none;
    display: inline-table;
    width: 100%;
    padding: 10px 20px;
    font-size: 18px;
    i {
      margin-top: 4px;
    }
    &:hover {
      border-left: 3px solid grey;
      padding-left: 17px;
    }
    &.clicked {
      padding-left: 17px;
      background: orange;
      border-left: 3px solid lightgrey;
      &::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 7px solid orange;
        margin-top: -10px;
        margin-left: 180px;
      }
    }
  }
}
.wrapper {
  width: 100%;
  &.clicked > .side-bar {
    margin-left: -143px;
    transition: margin-left 0.5s;
  }
  &.clicked > .content {
    padding-left: 50px;
    transition: padding-left 0.5s;
  }
  .content {
    padding-left: 200px;
    transition: padding-left 0.5s;
    text-align: center;
    .panel-heading {
      text-align: right;
      margin: 20px;
      font-size: 25px;
      border-bottom: 3px solid;
      padding-bottom: 10px;
      button {
        background: transparent;
        border: none;
        color: black;
      }
      button,
      i {
        font-size: 20px;
      }
    }
    .panel-body {
      h1 {
        width: 100%;
        margin-top: 2em;
      }
      .orders-list {
        list-style: none;
        width: 100%;
        li {
          display: inline-block;
          padding: 5px 20px;
        }
      }
      table.table {
        margin-top: 3em;
        vertical-align: middle;
        th,
        td {
          vertical-align: middle;
        }
        button.btn {
          margin-bottom: 5px;
          padding: 2px 21px;
        }
      }
    }
  }
}
// button.btn,
// button.btn:hover,
// button.btn:active {
//   background: transparent !important;
//   color: black !important;
//   border: none;
// }
// button.btn:hover {
//   text-decoration: underline;
// }
.nav-item {
  button {
    padding: 0 1em;
  }
  a {
    color: black;
  }
}
nav {
  border-bottom: 1px solid;
  margin-bottom: 1em;
  box-shadow: 0px 1px 7px black;
  padding-top: 2em !important;
  padding-bottom: 2em !important;
}
.navbar-nav {
  flex-direction: row !important;
}
/* AUTH SCREENS */
.authContainer {
  width: 300px;
  height: 400px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.signIn {
  height: 280px;
}
.authContainer h1 {
  text-align: center;
}
.formContainer,
.formContainer button {
  margin-top: 2em;
}
.signInLink {
  margin-top: 1em;
  text-align: center;
}
.signInLink button {
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  color: black;
}
.signInLink button:hover,
.signInLink button:active {
  text-decoration: underline;
  background: transparent !important;
  color: black !important;
}
.formContainer .row {
  margin-bottom: 1em;
}
.modal-header {
  border: none;
}
.modal-body {
  text-align: center;
  padding-top: 1em;
}
.modal-body input {
  margin-top: 1em;
}
.modal-footer {
  border: none;
}
/* ADD ORDER */
label.field-label, .form-text, .invalid-feedback {
  display: block;
  text-align: left;
}
.alert {
  margin: auto;
  width: 80%;
}